.card-shape {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.card-image {
  height: 50%;
  border-radius: 10px 10px 0 0;
}

.card-text {
  height: 50%;
  border-radius: 0 0 10px 10px;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  color: white;
  padding: 5px;
}

.title {
  font-size: larger;
  font-variant-caps: small-caps;
}

.info {
  font-size: smaller;
}

.launch {
  font-size: medium;
  text-decoration: underline;
}